<div class="submit-movie">
  <%= link_to "Submit a movie!", new_movie_path %>
</div>

<% @movies.each do |movie| %>
  <%= render partial: 'movies/partials/movie', locals: { movie: movie } %>
<% end %>