@import url(http://fonts.googleapis.com/css?family=Hind:400,300,600);

// VIEWPORT MIXINS

@mixin mobile-viewport {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin medium-viewport {
  @media (min-width: 501px) and (max-width: 900px) {
    @content;
  }
}

//  MIXINS

@mixin position-center {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin position-x {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin position-y {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin scale-up {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@mixin transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin linear-gradient-top-bottom($color1, $color2) {
  background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($color1, $color2); /* Standard syntax (must be last) */
}
//  VARIABLES

$primary-yellow: #F5AB35;
$secondary-yellow: #F9BF3B;
$primary-red: #c0392b;
$secondary-red: #e74c3c;
$primary-green: #1E824C;
$secondary-green: #27ae60;
$light-gray: #DBDBDB;
$white : #FFF;
$gray: #BFBFBF;
$medium-gray: #666;
$dark-gray: #222;
$text-gray: #464646;

// APP WIDE

body, html {
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  color: $text-gray;
  margin: 0;
  @include medium-viewport {
    font-size: 0.95em;
  }
  @include mobile-viewport {
    font-size: 0.87em;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  a {
    text-decoration: none;
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none;
    }
  }
}