@import "appwide";

.movie-form {
  position: relative;
  margin: 0 auto;
  width: 100%;
  input {
    @include position-x(relative, 50%);
    @include transition(0.3s);
    width: 60%;
    margin-bottom: 1em;
    height: 30px;
    font-size: 1.1em;
    padding: 0.3em;
    border: 1px solid $light-gray;
    &:focus {
      outline: none;
      border: 1px solid $primary-orange;
      box-shadow: 0 0 5px $primary-orange;
    }
  }
  input[type=file] {
    @include position-x(relative, 50%);
    width: 60%;
    border: none;
  }
  textarea {
    @include position-x(relative, 50%);
    @include input-focus-highlight($primary-orange);
    width: 60%;
    margin: 1.5em 0;
    font-size: 1.1em;
    height: 150px;
    padding: 0.3em;
    resize: none;
    border: 1px solid $light-gray;
  }
  input[type=submit] {
    @include position-x(relative, 50%);
    @include input-focus-highlight($primary-orange);
    @include submit-button-colors;
    width: 150px;
    height: 40px;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 1.2em;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
}