@import "appwide";
// MOVIES INDEX

.welcome-message {
  margin: 75px auto;
  text-align: center;
  font-size: 1.3em;
  a {
    @include transition(0.3s);
    color: $primary-orange;
    &:hover {
      color: $tertiary-orange;
    }
  }  
  h1 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0.5em;
  }
}

.submit-movie {
  margin: 0 auto 3em auto;
  text-align: center;
  a {
    @include submit-button-colors;
    @include transition(0.3s);
    font-size: 1.5em;
    padding: 5px 15px;
    color: $white;
  }
}

.movie-container {
  position: relative;
  top: 0;
  min-height: 100%;
  height: 100%;
  padding: 0.8em;
  margin: 0.5em;
  background-color: $smoke-white;
  .original-poster-links {
    position: absolute;
    top: 0.8em;
    right: 1em;
    margin: 0;
  }
  .movie-image {
    position: relative;
    display: inline-block;
    min-height: 100%;
  }
  .movie-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    max-width: 350px;
    margin-left: 1em;
    a {
      @include transition(0.3s);
      color: $primary-orange;
      &:hover {
        color: $tertiary-orange;
      }
    }
    .title {
      position: relative;
      margin: 0;
      top: 0;
      i {
        font-size: 0.85em;
      }
    }
    .description {
      font-weight: 300;
    }
    .subtitle {
      margin: 0;
      font-weight: 300;
      p {
        margin: 0;
      }
    }
  }
}

// SEARCH RESULTS PAGE

.search-result-title {
  position: relative;
  margin: 0 auto;
  text-align: center;
}


// NEW MOVIE PAGE

.new-movie-header,
.edit-movie-header {
  text-align: center;
  font-size: 2em;
}

// SHOW MOVIE PAGE

.show-movie-image {
  position: relative;
  display: inline-block;
}

.show-movie-info {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  width: 380px;
  vertical-align: top;
  .show-movie-title {
    margin-top: 0;
  }
  .show-movie-release-date {

  }
}

.new-review-form {
  margin-top: 1em;
}

.review-form {
  textarea {
    width: 300px;
    height: 150px;
  }
  input[type=submit] {
    margin-top: 1em;
    border-style: none;
    font-size: 1.2em;
    padding: 5px 15px;
    font-weight: 600;
    color: $white;
    @include transition(0.3s);
    @include submit-button-colors;
    &:hover {
      cursor: pointer;
    }
  }
}