@import "appwide";

// FLASH
.notice {
  margin: 0 auto;
  text-align: center;
  color: green;
}

.alert {
  margin: 0 auto;
  text-align: center;
  color: $secondary-red;
}

.validation-error {
  color: $primary-red;
}