@import "appwide";

.no-reviews {
  position: relative;
  text-align: center;
}

.user-container {
  @include position-x(relative, 50%);
  width: 150%;
  .left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 5%;
    background-color: $smoke-white;
  }
  .right {
    position: relative;
    display: inline-block;
    background-color: $smoke-white;
    width: 40%;
    .user-review-container {
      padding: 0.5em 1em;
      .review-title {
        font-weight: 600;
        margin-bottom: 0;
      }
      .post-date {
        margin-top: 0;
      }
      .review-text {

      }
    }
  }
}