<footer>
  <% if current_user %>
    <% if current_user.admin %>
      <p><%= link_to "Admin Management", admin_users_path %></p>
    <% end %>
  <% end %>

  <% if previewing_user %>
    <small>previewing as: (<%= previewing_user.name %>) | <%= link_to "Back to Admin", back_as_admin_path %>
    </small>
  <% end %>
</footer>